@tailwind base;

@tailwind components;

@tailwind utilities;

.mt-15 {
  margin-top: 3.5rem;
}
.changeNav {
  background: linear-gradient(
    90deg,
    rgba(102, 126, 234, 0.6) 0%,
    rgba(118, 75, 162, 0.6) 100%
  );
}

.navMenu {
  background: linear-gradient(
    99deg,
    rgba(102, 126, 234, 0.6) 0%,
    rgba(118, 75, 162, 0.6) 100%
  );
}

@responsive {
  .text-shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}
.toggle__dot {
  top: -0.25rem;
  left: -0.25rem;
  transition: all 0.3s ease-in-out;
}

input:checked ~ .toggle__dot {
  transform: translateX(100%);
  background-color: #48bb78;
}
